<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after">
        <observer name="hubshoply_customer_save_after" instance="Groove\Hubshoply\Observer\Customer\UpdateContact"/>
    </event>
    <event name="customer_save_before">
        <observer name="hubshoply_customer_save_before" instance="Groove\Hubshoply\Observer\Customer\MarkIfNewContact"/>
    </event>
    <event name="review_save_after">
        <observer name="hubshoply_save_review" instance="Groove\Hubshoply\Observer\QueueReview"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="hubshoply_shipment_save_after" instance="Groove\Hubshoply\Observer\QueueShipment"/>
    </event>
    <event name="sales_order_save_before">
        <observer name="hubshoply_order_save_before" instance="\Groove\Hubshoply\Observer\SalesOrderBeforeSaveObserver" />
    </event>
    <event name="sales_order_save_after">
        <observer name="hubshoply_order_save_after" instance="Groove\Hubshoply\Observer\SalesOrderAfterSaveObserver" />
    </event>
</config>
